<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magedia\AccountManagement\Api\Data\AccountInterface"
                type="Magedia\AccountManagement\Model\Account"/>

    <preference for="Magedia\AccountManagement\Api\AccountRepositoryInterface"
                type="Magedia\AccountManagement\Model\AccountRepository"/>

    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="AccountManagementPlugin_Login" type="Magedia\AccountManagement\Plugin\Login" />
    </type>
</config>
