<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magedia\ProductManagement\Api\ProductRepositoryInterface"
                type="Magedia\ProductManagement\Model\ProductRepository" />
    <preference for="Magedia\ProductManagement\Api\Data\ProductInterface"
                type="Magedia\ProductManagement\Model\Data\Product" />
</config>
